doctype html
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no")
  title EZ Slider Test Page
  script(src="//code.jquery.com/jquery-1.11.1.min.js")
  script(src="//like-falling-leaves.github.io/ezslider/ezslider.all.js")
  style .slider { max-width: 500px; outline: 1px solid red; } h2 { text-transform: uppercase; }
body.vote
  h2 Test panel below, swipe or touch/click-and-hold to slide it.
  div.slider
    div.item
      p This is the first slider item.  It has a very long sentence that will hopefully wrap around a bit.
      p Second paragraph
    div.item
      p This is the second slider item.  It has a very long sentence that will hopefully wrap around a bit.
      p Second paragraph #2
    div.item
      p This is the third  slider item.  It has a very long sentence that will hopefully wrap around a bit.
      p Second paragraph #3
  script(type='text/javascript')
    | $(function () { $('.slider').ezslider({bullets: {}}); });